@using GPSTracking.Domain.Entities
@model  GPSTracking.Models.VehicleImagesViewModel
@{
    Layout = "";
}

<div id="image_upload_box">
    <div class="container_12 clearfix">
        <div class="box">
            <h3>Vehicle Images</h3>
            <div class="box-content bordered_under" style="margin-bottom:0">
                <form action="#" method="post"></form>
                <form id="frmImageUpload" action="/Vehicle/UploadImageAjax" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="VehicleId" value="@Model.UploadingImage.VehicleId" />
                    <div class="row">
                        <div class="span10">
                            <input type="file" name="file" id="file" placeholder="Select image to upload ..." />
                        </div>
                        <div class="span2">
                            <input class="button red" type="submit" name="File" value="Upload" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="box-content">
                <div class="container_12 clearfix">
                    <div class="grid_12 content">
                        @if (Model.UploadedImages != null && Model.UploadedImages.Any())
{

    for (var i = 0; i < Model.UploadedImages.Count(); i++)
    {
        var image = Model.UploadedImages.ElementAt(i);
        bool isLastItem = ((i + 1) % 4 == 0);

            <article class="box clearfix grid_item @(isLastItem ? "last" : "")" data-id="@image.Id">
                <div class="item_heading">
                    <div class="overlayed" style="height: 100px">
                        <img class="span6" src="@image.ImagePath">
                        <div class="overlay">
                            <span class="overlay-icon-single">
                                <a data-fancybox-group="group1" class="fancybox" href="@image.ImagePath">
                                    <i class="icomoon-expand-2"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="item_footer">
                    <a class="clear_filters removeImage" href="">
                        <i class="icon-remove"></i> Remove Image
                    </a>
                </div>
            </article>
    }
}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
