@using Microsoft.AspNet.Identity
@model GPSTracking.Models.ManageUserViewModel


<div class="box">
    <h3>Change Password</h3>
    <div class="box-content">
        <p>You're logged in as <strong>@User.Identity.GetUserName()</strong>.</p>

        @using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()

            @Html.TextBoxFor(m => m.OldPassword, new { type = "password", placeholder = "Current Password" })
            @Html.TextBoxFor(m => m.NewPassword, new { type = "password", placeholder = "New Password" })
            @Html.TextBoxFor(m => m.ConfirmPassword, new { type = "password", placeholder = "Confirm Password" })

            <p class="centered_content">
                <input type="submit" class="button submit red" value="Change password" />
            </p>
            }

    </div>
</div>
