@using GPSTracking.Domain.Entities
@model GPSTracking.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div class="container_12 clearfix ">
    <div class="grid_8">
        <div class="box">
            <h3>Owner's info</h3>
            <div class="box-content">

                @using (Html.BeginForm("Register", "Account", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()
                    @Html.TextBoxFor(m => m.UserName, new { type = "text", placeholder = "Enter your email" })
                    @Html.TextBoxFor(m => m.Password, new { type = "password", placeholder = "Enter your password" })
                    @Html.TextBoxFor(m => m.ConfirmPassword, new { type = "password", placeholder = "Re-enter your password" })
                    @Html.TextBoxFor(m => m.FirstName, new { type = "text", placeholder = "Enter your name" })
                    @Html.TextBoxFor(m => m.MobileNumber, new { type = "text", placeholder = "Enter your Mobile Number" })
                    @Html.DropDownListFor(m => m.CountryId, new SelectList(Model.AvailableCountries, "Id", "Name"), new { @class = "customSelectInner customSelect" })

                    <!--Newsletter check-->
                    <p class="smaller_margin">
                        <label for="newsletter" class="custom_checkbox">
                            <input type="checkbox" name="newsletter" id="newsletter"> Receive newsletter about updates and promotions.
                        </label>
                    </p>
                    <!--Terms check-->
                    <p>
                        <label for="terms" class="custom_checkbox">
                            <input type="checkbox" name="terms" id="terms">I agree to your <a href="#">terms of use</a> and <a href="#">privacy policy</a>.
                        </label>
                    </p>
                    <!--Submit-->
                    <p class="centered_content">
                        <input type="submit" class="button submit red" value="Create Account" />
                    </p>
                }
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
