@model GPSTracking.Models.LoginViewModel

@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>Login to your account</h4>
            </div>
            <div class="modal-body">
                <form action="Account/Login">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        @*<input type="text" class="form-control" placeholder="Username">*@
                        @Html.TextBoxFor(m => m.UserName, new { type = "text", placeholder = "Username",@class="form-control" })
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-key"></i></span>
                        @*<input type="password" class="form-control" placeholder="Password">*@
                        @Html.TextBoxFor(m => m.Password, new { type = "password", placeholder = "Password", @class = "form-control" })
                        <label class="form-control" for="RememberMe">
                            @Html.CheckBoxFor(m => m.RememberMe) Remember me
                        </label>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Login">
                    <a class="btn btn-success" href="#">Sign Up</a>
                </form>
            </div>
            @*<div class="modal-footer">
                <button type="button" class="btn btn-block btn-facebook btn-social"><i class="fa fa-facebook"></i> Login with Facebook</button>
                <button type="button" class="btn btn-block btn-twitter btn-social"><i class="fa fa-twitter"></i> Login with Twitter</button>
            </div>*@
        </div>
    </div>
</div>
}